<template>
  <nav class="relative flex flex-wrap items-center justify-between py-2 flex-1">
    <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
      <div class="w-full relative flex justify-between lg:w-auto  px-4 lg:static lg:block lg:justify-start">
        <!-- <a class="text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-white" href="#pablo">
          pink Color
        </a> -->
        <router-link to="/">
            <img
              src="@/assets/images/logo.png"
              class="text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-white h-9 w-auto"
              alt="Logo"
            />
          </router-link>
        <button class="text-white cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none" type="button" v-on:click="toggleNavbar()">
          <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              class="h-7 w-7 fill-current text-ternary-light"
            >
              <path
                v-if="isOpen"
                fill-rule="evenodd"
                d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"
                clip-rule="evenodd"
              ></path>
              <path
                v-if="!isOpen"
                fill-rule="evenodd"
                d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"
              ></path>
            </svg>
        </button>
      </div>
      <div v-bind:class="{'hidden': !showMenu, 'flex': showMenu}" class="lg:flex lg:flex-grow items-center">
        <ul class="flex flex-col lg:flex-row list-none ml-auto">
          <li class="nav-item">
            <router-link 
              @click="showMenu()"
              to="/vacations" 
              class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75"
              >{{ $t('vacations') }}</router-link
            >
          </li>
          <li class="nav-item">
            <router-link 
              @click="showMenu()"
              to="/company-outings" 
              class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75"
              >{{ $t('company-outing') }}</router-link
            >
          </li>
          <li class="nav-item">
            <router-link 
              @click="showMenu()"
              to="/events" 
              class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75"
              >{{ $t('events') }}</router-link
            >
          </li>
          <li class="nav-item">
            <router-link 
              @click="showMenu()"
              to="/school-trip" 
              class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75"
              >{{ $t('school-trip') }}</router-link
            >
          </li>
          <li class="nav-item">
            <router-link 
              @click="showMenu()"
              to="/contact" 
              class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75"
              >{{ $t('contact') }}</router-link
            >
          </li>
          <li class="nav-item">
            <LocaleSwitcher />
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
import LocaleSwitcher from '../LocaleSwitcher.vue';
export default{
  name: "pink-navbar",
  components: {
    LocaleSwitcher
  },
  data() {
    return {
      showMenu: false,
      isOpen: false,
    }
  },
  methods: {
    toggleNavbar(){
      this.showMenu = !this.showMenu;
      this.isOpen = !this.isOpen;
    }
  }
}
</script>