<script>
import Booking from '../components/Booking.vue';
export default {
  components: {
    Booking
  }
}
</script>
<template>
    <div class="home_page_container">
      <div class="container mx-auto">
        <Booking />
      </div>
    </div>
    <!-- RANDOM INFO TO FILL UP THE PAGE-->
    <section>
        <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8 pt-30 md:pt-60">
          <div class="grid grid-cols-1 gap-8 md:grid-cols-2 md:gap-16">
            <div
              class="relative h-64 overflow-hidden rounded-lg sm:h-80 lg:order-last lg:h-full"
            >
              <img
                alt="Party"
                src="https://images.unsplash.com/photo-1527529482837-4698179dc6ce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
                class="absolute inset-0 h-full w-full object-cover"
              />
            </div>
      
            <div>
              <h2 class="text-2xl font-bold md:text-3xl">Streamline your company outings</h2>
      
              <p class="mt-4 text-gray-600">
                Let us take care of the transportation for your next company outing. Whether it's a team-building event, a conference, or a company retreat, we will ensure that your employees arrive at the destination safely and on time. By choosing us to handle the transportation, you can focus on the event itself and leave the stress of getting there to us. Book your company outing with us today and experience the ease and convenience of having your transportation needs taken care of.
              </p>
            <a
                href="#"
                class="mt-8 inline-flex items-center rounded border border-indigo-600 bg-indigo-600 px-8 py-3 text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"
              >
                <span class="text-sm font-medium"> Book your transportation </span>
      
                <svg
                  class="ml-3 h-5 w-5"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M17 8l4 4m0 0l-4 4m4-4H3"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>
    </section>
      
    <!-- RANDOM INFO TO FILL UP THE PAGE-->
    <section >
        <div class=" mx-auto max-w-screen-xl px-4 pt-0 pb-16 md:py-16 sm:px-6 lg:px-8">
          <div class="grid grid-cols-1 gap-8 md:grid-cols-2 md:gap-16">
            <div
              class="relative h-64 overflow-hidden rounded-lg sm:h-80 lg:order-first lg:h-full"
            >
              <img
                alt="Party"
                src="https://images.unsplash.com/photo-1527529482837-4698179dc6ce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
                class="absolute inset-0 h-full w-full object-cover"
              />
            </div>
      
            <div>
              <h2 class="text-2xl font-bold md:text-3xl">smooth Outings with Our transportation</h2>
      
              <p class="mt-4 text-gray-600">
                Choose us for your company outings for a seamless transportation experience. Our customer-focused approach, reliable services, and top-notch vehicles make us the go-to choice for businesses. Our team will design a customized solution to meet your needs and ensure a stress-free outing for your employees. Book with confidence, knowing that your transportation is in safe hands.              </p>
      
              <a
                href="#"
                class="mt-8 inline-flex items-center rounded border border-indigo-600 bg-indigo-600 px-8 py-3 text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"
              >
              <svg
                  class="mr-3 h-5 w-5 rotate-180"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M17 8l4 4m0 0l-4 4m2-4H3"
                  />
                </svg>
                <span class="text-sm font-medium"> Book your transportation </span>

              </a>
            </div>
          </div>
        </div>
    </section>
</template>