<script>
import feather from 'feather-icons';
import ContactForm from '@/components/contact/ContactForm.vue';
import ContactDetails from '@/components/contact/ContactDetails.vue';

export default {
	components: {
		ContactForm,
		ContactDetails,
	},
	data: () => {
		return {
			contacts: [
				{
					id: 1,
					name: 'Sangkat Teukthla, Sen Sok, Cambodia',
					icon: 'map-pin',
				},
				{
					id: 2,
					name: 'umerfarooq4pk@gmail.com',
					icon: 'mail',
				},
				{
					id: 3,
					name: '+92 3349403021',
					icon: 'phone',
				},
			],
		};
	},
	mounted() {
		feather.replace();
	},
	updated() {
		feather.replace();
	},
	methods: {},
};
</script>

<template>
	<div
		class="container mx-auto flex flex-col-reverse md:flex-row py-5 md:py-10 md:mt-10"
	>
	
		<!-- Contact details -->
		<ContactDetails :contacts="contacts" />
		<!-- Contact form -->
		<ContactForm />

	</div>
</template>
