<script>
// import AppBanner from '@/components/shared/AppBanner';
// import ProjectsGrid from '../components/projects/ProjectsGrid.vue';
// import Button from '../components/reusable/Button.vue';
// import Swiper core and required modules
import { Navigation, Pagination, Scrollbar, A11y } from "swiper";

// Import Swiper Vue.js components
import { Swiper, SwiperSlide } from "swiper/vue";

// Import Swiper styles
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";
import "swiper/css/scrollbar";
import Booking from "../components/Booking.vue";

import axios from "axios";

export default {
  name: "Home",
  components: {
    // AppBanner,
    // ProjectsGrid,
    // Button,
    Booking,
    Swiper,
    SwiperSlide,
  },
  beforeMount() {
    axios.get(`${process.env.VUE_APP_API_URL}/buses`).then((res) => {
      console.log(res);
      this.buses = res.data.data;
    });
  },
  setup() {
    const onSwiper = (swiper) => {
      console.log(swiper);
    };
    const onSlideChange = () => {
      console.log("slide change");
    };
    return {
      onSwiper,
      onSlideChange,
      modules: [Navigation, Pagination, Scrollbar, A11y],
    };
  },
  data() {
    return {
      buses: [],
      base_url: process.env.VUE_APP_BASE_URL,
      settings: {
        arrows: true,
        dots: true,
      },
    };
  },
};
</script>

<template>
  <div class="home_page_container">
    <div class="container mx-auto p-0 md:p-1">
      <Booking />
    </div>
  </div>
  <div class="container mx-auto mt-16">
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16 mt-5">
      <div
        class="relative h-64 overflow-hidden rounded-lg sm:h-80 order-last lg:h-full"
      >
        <img alt="Group People" src="../assets/images/people.avif" class="" />
      </div>

      <div class="text-left pt-10">
        <h2 class="text-2xl font-bold md:text-4xl">Welcome!</h2>

        <p class="mt-4 text-gray-600">
          We are here to ensure all your transportation needs are taken care of,
          whether it be for events, school trips, vacations, or anything else
          you may have in mind. Let us handle the stress of getting from one
          place to another, so you can sit back, relax and enjoy the ride. We
          look forward to serving you!
        </p>

        <a
          href="#"
          class="mt-8 inline-flex items-center rounded border border-indigo-600 bg-indigo-600 px-8 py-3 text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"
        >
          <span class="text-sm font-medium"> View our fleet </span>

          <svg
            class="ml-3 h-5 w-5"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M17 8l4 4m0 0l-4 4m4-4H3"
            />
          </svg>
        </a>
      </div>
    </div>

    <section>
      <div class="bg-white mt-20">
        <div role="contentinfo" class="flex items-center flex-col">
          <h1
            tabindex="0"
            class="focus:outline-none text-2xl md:text-4xl font-extrabold text-center leading-10 lg:w-5/12 md:w-9/12 pt-4"
          >
            De beste service
          </h1>
        </div>
        <div
          tabindex="0"
          aria-label="group of cards"
          class="focus:outline-none mt-20 flex flex-wrap justify-between gap-10"
        >
          <div
            tabindex="0"
            aria-label="card 1"
            class="focus:outline-none flex sm:w-full md:w-5/12 pb-20"
          >
            <div class="w-20 h-20 relative mr-5">
              <div
                class="absolute top-0 right-0 bg-indigo-100 rounded w-16 h-16 mt-2 mr-1"
              ></div>
              <div
                class="absolute text-white bottom-0 left-0 bg-indigo-700 rounded w-16 h-16 flex items-center justify-center mt-2 mr-3"
              >
                <img src="../assets/images/vectorpaint.svg" alt="drawer" />
              </div>
            </div>
            <div class="w-10/12 text-left">
              <h2
                tabindex="0"
                class="focus:outline-none text-lg font-bold leading-tight"
              >
                Quality vehicles
              </h2>
              <p
                tabindex="0"
                class="focus:outline-none text-base leading-normal pt-2"
              >
                We invest in modern and well-maintained vehicles to ensure a
                safe and comfortable ride for our customers. We regularly check
                and upgrade our vehicles to ensure they are in the best possible
                condition and equipped with the latest technology.
              </p>
            </div>
          </div>
          <div
            tabindex="0"
            aria-label="card 2"
            class="focus:outline-none flex sm:w-full md:w-5/12 pb-20"
          >
            <div class="w-20 h-20 relative mr-5">
              <div
                class="absolute top-0 right-0 bg-indigo-100 rounded w-16 h-16 mt-2 mr-1"
              ></div>
              <div
                class="absolute text-white bottom-0 left-0 bg-indigo-700 rounded w-16 h-16 flex items-center justify-center mt-2 mr-3"
              >
                <img
                  src="../assets/images/icon_and_text-SVG2.svg"
                  alt="check"
                />
              </div>
            </div>
            <div class="w-10/12 text-left">
              <h2
                tabindex="0"
                class="focus:outline-none text-lg font-semibold leading-tight"
              >
                Accuracy and reliability.
              </h2>
              <p
                tabindex="0"
                class="focus:outline-none text-base eading-normal pt-2"
              >
                We prioritize reliability and accuracy in our services, using
                strict schedules and dedicated teams to ensure on-time arrivals
                and accurate information for our customers.
              </p>
            </div>
          </div>
          <div
            tabindex="0"
            aria-label="card 3"
            class="focus:outline-none flex sm:w-full md:w-5/12 pb-20"
          >
            <div class="w-20 h-20 relative mr-5">
              <div
                class="absolute top-0 right-0 bg-indigo-100 rounded w-16 h-16 mt-2 mr-1"
              ></div>
              <div
                class="absolute text-white bottom-0 left-0 bg-indigo-700 rounded w-16 h-16 flex items-center justify-center mt-2 mr-3"
              >
                <img src="../assets/images/euro-search.svg" alt="html tag" />
              </div>
            </div>
            <div class="w-10/12 text-left">
              <h2
                tabindex="0"
                class="focus:outline-none text-lg font-semibold leading-tight"
              >
                Dynamic pricing.
              </h2>
              <p
                tabindex="0"
                class="focus:outline-none text-base leading-normal pt-2"
              >
                We believe in offering fair and competitive prices for our
                services, ensuring that our customers get the best value for
                their money. Additionally, we provide assistance to choose the
                most suitable transportation option for your needs.
              </p>
            </div>
          </div>
          <div
            tabindex="0"
            aria-label="card 4"
            class="focus:outline-none flex sm:w-full md:w-5/12 pb-20"
          >
            <div class="w-20 h-20 relative mr-5">
              <div
                class="absolute top-0 right-0 bg-indigo-100 rounded w-16 h-16 mt-2 mr-1"
              ></div>
              <div
                class="absolute text-white bottom-0 left-0 bg-indigo-700 rounded w-16 h-16 flex items-center justify-center mt-2 mr-3"
              >
                <img src="../assets/images/service.svg" alt="monitor" />
              </div>
            </div>
            <div class="w-10/12 text-left">
              <h2
                tabindex="0"
                class="focus:outline-none text-lg font-semibold leading-tight"
              >
                Customer Centered.
              </h2>
              <p
                tabindex="0"
                class="focus:outline-none text-base leading-normal pt-2"
              >
                the customer is always at the forefront of our minds. We strive
                to do everything in our power to ensure the best possible
                experience for our customers, and are constantly looking for
                ways to improve and exceed their expectations.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="flex justify-center">
      <h1
        tabindex="0"
        class="focus:outline-none text-2xl md:text-4xl font-extrabold text-center leading-10 lg:w-5/12 md:w-9/12 pt-4"
      >
        Take a look in the type of vehicles we offer in our fleet
      </h1>
    </div>

    <swiper
      class="mb-5"
      :modules="modules"
      :slides-per-view="1"
      navigation
      :pagination="{ clickable: true }"
      @swiper="onSwiper"
      @slideChange="onSlideChange"
    >
      <swiper-slide v-for="(bus, index) in buses" :key="index">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
          <div class="col-1 order-last md:order-1">
            <h1
              class="focus:outline-none mb-6 text-4xl lg:text-4xl font-extrabold leading-10 lg:w-5/12 md:w-9/12"
            >
              {{ bus.name }}
            </h1>
            <p v-html="bus.b_description"></p>
          </div>
          <div class="col-1 order-2">
            <img
              :src="base_url + '/upload/' + bus.photo"
              class="w-full"
              alt="..."
            />
          </div>
        </div>
      </swiper-slide>
    </swiper>
  </div>

  <div class="bg-[#F3F6FA] p-10">
    <div class="container">
      <div class="mx-auto flex flex-col items-center">
        <p
          class="focus:outline-none text-2xl md:text-4xl font-extrabold text-center leading-10 pt-4"
        >
          <span>Maak je reis makkelijker</span>
          <span class="text-blue-600 pl-1">boek een reis.</span>
        </p>
        <p class="border_bottom"></p>
        <p class="text-center">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quidem
          officis reprehenderit, aperiam veritatis non, quod veniam fuga
          possimus hic explicabo laboriosam nam. A tempore totam ipsa nemo
          adipisci iusto!
        </p>

        <a
          href="#"
          class="mt-8 inline-flex items-center rounded border border-indigo-600 bg-indigo-600 px-8 py-3 text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"
        >
          <span class="text-sm font-medium">Book een Reis!</span>
        </a>
      </div>
    </div>
  </div>
</template>

<style scoped>
.border_bottom {
  height: 5px;
  border-bottom: 3px solid #007aff;
  max-width: 70px;
  margin: 15px auto;
}
</style>
