<script>
import Booking from '../components/Booking.vue'
export default {
    components: {
        Booking
    }
}
</script>
<template>
  <div class="home_page_container">
    <div class="container mx-auto">
      <Booking />
    </div>
  </div>
  <!-- RANDOM INFO TO FILL UP THE PAGE-->
  <section>
    <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8 pt-30 md:pt-60">
        <div class="grid grid-cols-1 gap-8 md:grid-cols-2 md:gap-16">
            <div
                class="relative h-64 overflow-hidden rounded-lg sm:h-80 lg:order-last lg:h-full"
            >
                <img
                alt="Party"
                src="https://images.unsplash.com/photo-1527529482837-4698179dc6ce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
                class="absolute inset-0 h-full w-full object-cover"
                />
            </div>
        
            <div>
                <h2 class="text-2xl font-bold md:text-3xl">Make your next schooltrip easier with us</h2>
        
                <p class="mt-4 text-gray-600">
                Taking a school trip is an excellent opportunity for students to experience new adventures, but planning transportation can be a challenge. At Touringcarboeken, we make it easy for you with our coach rentals. Our vehicles are equipped with modern amenities and experienced drivers, ensuring that your students travel in comfort and safety. With our dynamic prices, you can get the best prices the market has to offer. Our team of experts will work with you to ensure that your school trip is a success from start to finish. So, make your next school trip an unforgettable experience with our coach rentals at TouringcarBoeken</p>
        
                <a
                href="#"
                class="mt-8 inline-flex items-center rounded border border-indigo-600 bg-indigo-600 px-8 py-3 text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"
                >
                <span class="text-sm font-medium"> Book your transportation </span>
        
                <svg
                    class="ml-3 h-5 w-5"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                >
                    <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M17 8l4 4m0 0l-4 4m4-4H3"
                    />
                </svg>
                </a>
            </div>
        </div>
    </div>
    </section>
    
    <!-- RANDOM INFO TO FILL UP THE PAGE-->
    <section >
        <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
            <div class="grid grid-cols-1 gap-8 md:grid-cols-2 md:gap-16">
                <div
                    class="relative h-64 overflow-hidden rounded-lg sm:h-80 lg:order-first lg:h-full"
                >
                    <img
                    alt="Party"
                    src="https://images.unsplash.com/photo-1527529482837-4698179dc6ce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
                    class="absolute inset-0 h-full w-full object-cover"
                    />
                </div>
            
                <div>
                    <h2 class="text-2xl font-bold md:text-3xl">Discover the Benefits of TouringcarBoeken</h2>
            
                    <p class="mt-4 text-gray-600">
                    At TouringcarBoeken, we understand the importance of school trips and the impact they can have on students' learning and development. That's why we are committed to providing safe, comfortable, and affordable coach transportation for school trips. Our team of experts will work with you to ensure that your school trip is a success from start to finish. With flexible prices and a commitment to excellence, TouringcarBoeken is the perfect choice for coach transportation for school trips. Book now and discover why we are the best in the business!
                    </p>
            
                    <a
                    href="#"
                    class="mt-8 inline-flex items-center rounded border border-indigo-600 bg-indigo-600 px-8 py-3 text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"
                    >
                    <svg
                        class="mr-3 h-5 w-5 rotate-180"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                    >
                        <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M17 8l4 4m0 0l-4 4m2-4H3"
                        />
                    </svg>
                    <span class="text-sm font-medium"> Book your transportation </span>

                    </a>
                </div>
            </div>
        </div>
    </section>
</template>