<script>
import Booking from '../components/Booking.vue'
export default {
    components: {
        Booking
    }
}
</script>
<template>
  <div class="home_page_container">
    <div class="container mx-auto">
      <Booking />
    </div>
  </div>
  <!-- RANDOM INFO TO FILL UP THE PAGE-->
  <section>
    <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8 pt-30 md:pt-60">
        <div class="grid grid-cols-1 gap-8 md:grid-cols-2 md:gap-16">
            <div
                class="relative h-64 overflow-hidden rounded-lg sm:h-80 lg:order-last lg:h-full"
            >
                <img
                alt="Party"
                src="https://images.unsplash.com/photo-1527529482837-4698179dc6ce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
                class="absolute inset-0 h-full w-full object-cover"
                />
            </div>
        
            <div>
                <h2 class="text-2xl font-bold md:text-3xl">Make travel easy with TouringcarBoeken</h2>
        
                <p class="mt-4 text-gray-600">
                Going on a vacation with a large group of friends or family members can be a challenge, but with our coach rental services, it's a breeze. Our coaches are designed to provide a comfortable and convenient travel experience, allowing you to sit back, relax and enjoy the ride. Whether you're planning a road trip or visiting a new city, our coach rental solutions will take care of all your transportation needs!
                </p>
        
                <a
                href="#"
                class="mt-8 inline-flex items-center rounded border border-indigo-600 bg-indigo-600 px-8 py-3 text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"
                >
                <span class="text-sm font-medium"> Book your vacation </span>
        
                <svg
                    class="ml-3 h-5 w-5"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                >
                    <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M17 8l4 4m0 0l-4 4m4-4H3"
                    />
                </svg>
                </a>
            </div>
        </div>
    </div>
    </section>
      
    <!-- RANDOM INFO TO FILL UP THE PAGE-->
    <section >
        <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
            <div class="grid grid-cols-1 gap-8 md:grid-cols-2 md:gap-16">
                <div
                    class="relative h-64 overflow-hidden rounded-lg sm:h-80 lg:order-first lg:h-full"
                >
                    <img
                    alt="Party"
                    src="https://images.unsplash.com/photo-1527529482837-4698179dc6ce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
                    class="absolute inset-0 h-full w-full object-cover"
                    />
                </div>
            
                <div>
                    <h2 class="text-2xl font-bold md:text-3xl">Even for abroad and winter sport!</h2>
            
                    <p class="mt-4 text-gray-600">
                    At Touringcarboeken, we understand the importance of comfort and style during your long travels abroad and winter sports vacations. That's why we offer top-notch transportation services that cater to your specific needs. With our modern fleet of coaches and many other vehicles and experienced drivers, you can count on a smooth and safe journey, no matter where you go. Whether you're traveling as a group or solo, our tranportation services will provide you with the comfort and convenience you need to fully enjoy your abroad and winter sports vacations. So why settle for less? Book your transportation today and let us take you on a journey to unforgettable experiences.
                    </p>
            
                    <a
                    href="#"
                    class="mt-8 inline-flex items-center rounded border border-indigo-600 bg-indigo-600 px-8 py-3 text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"
                    >
                    <svg
                        class="mr-3 h-5 w-5 rotate-180"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                    >
                        <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M17 8l4 4m0 0l-4 4m2-4H3"
                        />
                    </svg>
                    <span class="text-sm font-medium"> Book your vacation </span>

                    </a>
                </div>
            </div>
        </div>
    </section>
</template>