<script>
export default {
	props: ['contacts'],
};
</script>

<template>
	<div class="w-full md:w-1/2 mt-3 md:mt-0">
		<div class="text-left max-w-xl px-6">
			<p class=" uppercase font-bold text-sm text-xendd-secondary">a response within 24 hours</p>
			<h2
				class="font-general-medium text-3xl lg:text-4xl font-bold text-indigo-500 mb-8"
			>
			Get in touch.
			</h2>
			<!-- <p class="mb-3">Are you interested in our options or do you have a specific question? You can contact us via the form. You can also contact us directly via our telephone number or e-mail below.</p> -->
			<ul class="font-general-regular">
				<li class="flex" v-for="contact in contacts" :key="contact.id">
					<i
						:data-feather="contact.icon"
						class="w-5 text-gray-500 dark:text-gray-400 mr-4"
					></i>
					<a
						href="#"
						class="text-lg mb-4 text-ternary-dark dark:text-ternary-light"
						:class="
							contact.icon === 'mail' || contact.icon === 'phone'
								? 'hover:underline cursor-pointer'
								: ''
						"
						aria-label="Website and Phone"
					>
						{{ contact.name }}
					</a>
				</li>
			</ul>
			<h2
				class="font-general-medium text-3xl lg:text-4xl font-bold text-indigo-500 mb-8"
			>
			Opening hours
			</h2>
			<p>Our opening hours are Monday to Friday from 09:00 to 17:00 CET. Outside of business hours we are reachable on our emergency number, but only for already placed bookings that take place that day or the next day. The emergency number is not available for requesting of last-minute quotations, except for our premium Bookabus for Business customers.</p>
			
			<h2
				class="font-general-medium text-3xl lg:text-4xl font-bold text-indigo-500 mb-8"
			>
			Do you have a question?
			</h2>
			<p>Our customer support team will get back to you within one business day.</p>

		</div>
	</div>
</template>

<style lang="scss" scoped></style>
