<script>
import Button from '../reusable/Button.vue';
import { Field, Form } from 'vee-validate';
import * as Yup from 'yup';
import axios from 'axios';

export default {
	name: 'Contact',
	components: { 
		Button,
        Field,
        Form,
	} ,
	data() {
		const schema = Yup.object().shape({
            name: Yup.string().required('Name field required'),
			email: Yup.string().required('Email is required').email('Invalid email'),
            subject: Yup.string().required('Subject field required'),
            message: Yup.string().required('Message field required'),
        });
		return {
			schema,
			disable: false,
			fullPage: true,
			contact: {
				name: '',
				email: '',
				subject: '',
				message: '',
			}
		}
	},
	methods: {
		onSubmit(){
			this.disable = true;
			axios.post(process.env.VUE_APP_API_URL + '/contact', this.contact).then((res) => {
				this.disable = false;
                console.log("res =======>", res);
                this.$toast.success("Successfully submitted your request");
			}).catch((errors) => {
				this.disable = false;
                console.log(errors);
                this.$toast.error("Something went wrong, Please try again after few moments");
            });
		}
	}
}

</script>

<template>
	<div class="w-full md:w-1/2">
		<div
			class="leading-loose max-w-xl m-4 p-7 bg-secondary-light dark:bg-secondary-dark rounded-xl shadow-xl text-left"
		>
			<!-- <p
				class="font-general-medium text-primary-dark dark:text-primary-light text-2xl mb-8"
			>
				Contact Form
			</p> -->
			<Form  @submit="onSubmit" :validation-schema="schema" v-slot="{ errors }" class="font-general-regular space-y-7">
				<div>
					<label
						class="block text-lg text-primary-dark dark:text-primary-light mb-2"
						for="name"
						>Full Name</label
					>
					<Field type="text" id="name" 
						name="name" 
						v-model="contact.name"
						:class="{ 'is-invalid': errors.name }"    
						class="bg-gray-50 border border-[#6b7280] text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Name" 
					/>
					<div v-if="errors.name" class="my-2 text-red-700 text-left">{{errors.name}}</div>
				</div>
				<div>
					<label
						class="block text-lg text-primary-dark dark:text-primary-light mb-2"
						for="email"
						>Email</label
					>
					<Field type="text"
						name="email" 
						v-model="contact.email"
						:class="{ 'is-invalid': errors.email }"
						class="bg-gray-50 border border-[#6b7280] text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Email" 
					/>
					<div v-if="errors.email" class="my-2 text-red-700 text-left">{{errors.email}}</div>
					
				</div>
				<div>
					<label
						class="block text-lg text-primary-dark dark:text-primary-light mb-2"
						for="subject"
						>Subject</label
					>
					<Field type="text" id="name" 
						name="subject" 
						v-model="contact.subject"
						:class="{ 'is-invalid': errors.subject }"    
						class="bg-gray-50 border border-[#6b7280] text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Name" 
					/>
					<div v-if="errors.subject" class="my-2 text-red-700 text-left">{{errors.subject}}</div>
				</div>

				<div>
					<label
						class="block text-lg text-primary-dark dark:text-primary-light mb-2"
						for="message"
						>Message</label
					>
					
					<Field as="textarea" 
						name="message" 
						id="message" 
						v-model="contact.message"
						:class="{ 'is-invalid': errors.subject }"
						class="w-full px-5 py-2 border border-gray-300 dark:border-primary-dark border-opacity-50 text-primary-dark dark:text-secondary-light rounded-md shadow-sm text-md"
						cols="14" 
						rows="6"
						aria-placeholder="Type Message"
					/>
					<div v-if="errors.message" class="my-2 text-red-700 text-left">{{errors.message}}</div>
				</div>

				<div>
					<Button
						:disabled="disable"
						title="Send Message"
						class="px-4 py-2.5 text-white tracking-wider bg-indigo-500 hover:bg-indigo-600 focus:ring-1 focus:ring-indigo-900 rounded-lg duration-500"
						type="submit"
						aria-label="Send Message"
					/>
				</div>
			</Form>
		</div>
	</div>
</template>

<style lang="scss" scoped></style>
