<template>
    <select id="language_switcher" @change="languageChanged()" v-model="$i18n.locale">
      <option value="en">English</option>
      <option value="du">Dutch</option>
    </select>
  </template>
  
  <script>
  export default {
    name: "LocaleSwitcher",
    data() {
        return { 
            locales: ["en", 'du'] 
        };
    },
    methods: {
        languageChanged(){
            let lang = document.getElementById("language_switcher").value;
            localStorage.setItem("current_language", lang);
            // console.log("language", document.getElementById("language_switcher").value);
        }
    }
  };
  </script>
  <style scoped>
    select{
      padding: 3px 32px;
      border-radius: 4px;
    }
  </style>